<header class="page-header">
  <h1>Admin Dashboard</h1>
  <div class="intro">
  <p>You have <a href="/admin/products"><%= @product_count %> products</a> and <%= @category_count %> categories.</p>

  </div>
</header>

