<tr>
  <td>
  <%= debug product %>
    <%#= image_tag product.image.tiny.url %>
    PICTURE GO HERE
  </td>
  <td>
    <h4> item name here </h4>
    <br>
    <p>description</p>
  </td>
  <td>
  price go here
    <%#= humanized_money_with_symbol product.price %>
  </td>
  <td>
    quantity go here
  </td>
  <td>
    <%#= humanized_money_with_symbol product.price * quantity %>
  </td>
</tr>