<header class="page-header" style='font-family: "Comic Sans MS", "Comic Sans", cursive;color:yellow; background:url(https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/Operation_Upshot-Knothole_-_Badger_001.jpg/500px-Operation_Upshot-Knothole_-_Badger_001.jpg)'>
  <h1 style='font-family: "Comic Sans MS", "Comic Sans", cursive;'>About Us</h1>
  <div class="intro" >
  <h3 style='font-family: "Comic Sans MS", "Comic Sans", cursive; color: #ee4455'>COME  ON DOWN &amp; GET SOME PLANTS!!1!!!</h3>
  <div style='background-color: rgba(0, 120, 0, 0.4);'>
    <p>You want plants? We got 'em! <em>Fuck your current plants!</em> Those aren't any good!!! Ours are better!!!!</p>
  <marquee width="100%" direction="right" height="30px">DON'T DELAY... ACT YESTERDAY!!!!</marquee>
  <p>Bad at gardening? Here at JUNGLE we say KILL ALL THOSE GREEN FUCKERS AND BUY NEW ONES! At these prices, you can't afford NOT TO!!!!!</p>
    </div>

  <marquee width="100%" direction="left" height="100px" scrollamount="25"><h1 style='color:#ee00ff; font-family: "Comic Sans MS", "Comic Sans", cursive;'>These goddamn houseplants are the worst investment I've ever made! I'm never buying another one of these things again!" - Our Founder</h1></marquee>

  </div>
</header>

